@import '../../../../mixins.scss';
@import '../../../../variables.scss';

.container {
    @include centered-block(1280px);
    padding: 45px 181px 71px;

    .subtitle {
        @include font-style($Manrope, 35px, 500);
        color: #0F132A;
        text-transform: uppercase;
        text-align: center;
    }

    .accordion {
        margin: 16px;
        padding: 16px;
        // background-color: #dcdcdc;
        // border-radius: 7px;

        .accordion-item {
            margin-bottom: 16px;
            background-color: #F3F3F3;
            border-radius: 10px;

            .accordion-header {
                position: relative;
                width: 100%;
                padding: 20px 60px 20px 30px;
                background-color: #F3F3F3;
                border: 0;
                border-radius: 10px;
                font-size: 22px;
                text-align: left;
                cursor: pointer;
            }
        }
    }
}




.accordion-collapse {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}

.accordion-collapse.open {
    height: auto;
}

.accordion-body {
    padding: 30px 60px 30px 30px;
    background-color: #f1f1f1;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 20px;
    color: #393939;
}

.accordion-arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 30px;
    height: 17px;
    fill: rgb(255, 123, 0);
    transform: translateY(-50%);
}

.accordion-arrow.active {
    transform: translateY(-50%) rotate(180deg);
    fill: green;
}