.header {
    padding: 15px 7vw;
    background-color: #F8F8F8;

    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        cursor: pointer;
    }

    &__navigation {
        

        a {
            margin-right: 6vw;
            text-decoration: none;
            color: black;
        }
    }

    &__auth {
        cursor: pointer;
    }
}